@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
header {
	height: 100px;
	padding: 0 15px;
}
#firstcontent {
	width: 590px;
	float: left;
	padding: 5px 15px;
}

#secondcontent {
	width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
    height: 460px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#firstcontent {
		width: 41%;
		padding: 1% 4%;
	}
	#secondcontent {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#firstcontent {
		width: auto;
		float: none;
	}
	
	#secondcontent {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#firstcontent {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #firstcontent, #secondcontent, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #firstcontent, #secondcontent, #sidebar, footer {
	border: solid 1px #ccc;
}



/*BUTTON ADD ORDER STYLE*/
.myButton {
box-shadow: 0px 7px 0px 0px #FFDC19;
background: #FFEE5B none repeat scroll 5% center
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE719', endColorstr='#DEC700 ',GradientType=0);
background-color: #FEEC54;
display: inline-block;
cursor: pointer;
color: #ffffff;
font-family: Arial;
font-size: 1.5em;
padding: 8px 0px;
text-decoration: none;
text-shadow: 0px 1px 0px #DAC300;
margin-bottom: 10px;
width: 100%;
text-align: center;
border: none;
outline:none;
}

.myButton:hover {

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEC700 ', endColorstr='#FFE719',GradientType=0);
background-color:#FFDC19 ;
box-shadow: 0px 7px 0px 0px #FFE719;
color: #fff;
}

.myButton:active {
position:relative;
top:1px;
}

/*BUTTON ADD QUANTITY STYLE*/
.myButtonQ {
box-shadow: 0px 7px 0px 0px #FFDC19;
background: #FFEE5B none repeat scroll 5% center
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE719', endColorstr='#DEC700 ',GradientType=0);
background-color: #FEEC54;
display: inline-block;
cursor: pointer;
color: #ffffff;
font-family: Arial;
font-size: 1em;
padding: 8px 0px;
text-decoration: none;
text-shadow: 0px 1px 0px #DAC300;
margin-bottom: 10px;
width: 3em;
text-align: center;
border: none;
outline:none;
padding-top: 12px;
}

.myButtonQ:hover {

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEC700 ', endColorstr='#FFE719',GradientType=0);
background-color:#FFDC19 ;
box-shadow: 0px 7px 0px 0px #FFE719;
color: #fff;
}

.myButtonQ:active {
position:relative;
top:1px;
}

.name{
    
    height: 41px;
    margin-left: -4px;
    margin-right: -5px;
    border: none;
    margin-top: 8px;
    padding-top: -5px;
    padding-left: 12px;
}